.post-wrapper{
    max-width: 80%;
    margin: 5%;
    padding:2%;
    background-color: white;
}

#page-content-wrapper{
   background-color:  #BEBEBE;
   padding:5%;
}

body{
    background-color: #BEBEBE;
}



